*.log
*.zip
*.rar

wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/themes/astra/
wp-content/themes/best-wp/
wp-content/themes/canuck/
wp-content/themes/expansive/
wp-content/themes/genesis/
wp-content/themes/news-pro/
wp-content/themes/risewp/
wp-content/themes/sydney/
wp-content/themes/vw-automobile-lite/
wp-content/themes/wowsome/
wp-content/themes/zerif-pro/
wp-content/themes/canard-wpcom/

wp-content/upgrade/
wp-content/languages/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-admin/
wp-includes/
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

node_modules/
/img/

*.doc
*.docx
*.pdf
*.xls
*.xlsx
