// Estructura principal del web en su cuerpo central
a
	color azul_feisbuc
	transition all 0.1s ease-in-out
	&:hover
	&:focus
		color azul_asfalto

body
	ol, ul
		// list-style-position inside

html
	color gris_medio
	font-family fuente
	font-size $em
	text-align center
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


.wrapper
	background blanco_grisaceo2
	margin 0 auto

// medias queries
@media all and (min-width: 900px)
	// .wrapper
	// 	max-width 1200px

	.content
		box-sizing border-box
		// display inline-block
		// float left
		margin 0
		// max-width 70%
		vertical-align top
		width 100%
	
	.con_barra
		box-sizing border-box
		// display inline-block
		float left
		margin 0
		max-width 70%
		vertical-align top
		width 100%
		
