// Navegación principal de la web
.nav
// header > .nav
	background negro
	font-family fuente_heading_bold
	font-size $em
	letter-spacing -1px
	clear both

	&__list
	// div.menu ul
		list-style none
		display none
		// height 0
		margin 0
		// opacity 0
		padding 0
		text-align left
		// visibility hidden

		li
			border-bottom 1px solid gris_suave
			border-top 1px solid negro
			display block

			a
				color gris
				display block
				padding 0.5em
				text-decoration none
				&:hover
				&:focus
					color azul_feisbuc

		// Borrando los bordes de los extremos
		.last-child
			border-bottom none

		.first-child
			border-top none

		// Los enlaces activo y actualmente corrientes
		li.current-menu-item
		li.current_page_item
			a
				color azul_feisbuc

		// Abriendo y cerrando el menú
		// &-abrir
		// 	display block !important
			// height auto
			// opacity 1
			// visibility visible

		// &-cerrar
		// 	display none
			// height 0
			// opacity 0
			// visibility hidden

// Puntos de quiebre
@media all and (min-width: 1000px)
	.nav
		// display table-cell
		background none
		font-size $em*1.2
		position absolute
		right 0
		transition all 0.2s ease-in-out
		text-align right
		top $em*0.5
		// overflow hidden

		&__list
		div.menu ul
			display table
			// height 0
			opacity 1
			visibility visible

			li
				border-top none
				border-bottom none
				font-size 0.8em
				position relative
				display table-cell

				a
					display block
					margin-left $em*0.25
					margin-right $em*0.25
					position relative
					// text-transform uppercase

				a + .sub-menu
					transition all 0.2s ease-in-out

				a:hover + .sub-menu
				a:focus + .sub-menu
				a:active + .sub-menu
					display table-row
					// opacity 1
					// visibility visible
					// top none

				.indicador
					&:after
						content ""
						display inline-block
						// right -2px
						margin-left $em*0.5
						transition all 0.2s ease-in-out
						// top 45%
						triangle(8px, 8px, bottom, gris_suave)
					&:hover
						&:after
							triangle(8px, 8px, bottom, azul_feisbuc)

		.sub-menu
			display none
			background blanco_grisaceo
			margin 0
			min-width 200px
			// opacity 0
			padding 0
			position absolute
			// right 0
			// top -10em
			// visibility hidden
			width 100%

			li
				// border-top 1px dashed gris_suave
				display block
				list-style none
				a
					font-size $em*0.9
					// padding-left 0
					padding 12px

			&:hover
			&:focus
			&:active
				display table-row
				// top none
				// opacity 1
				// visibility visible
