// OWL slider
@import "owl-carousel/owl.carousel"
@import "owl-carousel/owl.theme"
@import "owl-carousel/owl.transitions"

// Un slider
.slider
	clear both
	.owl-controls
		display none !important

	&__item
		figure
			display block
			margin 0

	&__home
		position relative

		&__leyenda
			filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#80312720', endColorstr='#80312720',GradientType=1 )")
			background rgba(gris_fuerte, 0.7)
			// bottom 0
			color blanco
			font-family fuente_heading
			font-size 1em
			left 0
			padding 0.5em 0
			margin 0
			position absolute
			top 0
			width 100%
	
	// El del los trabajaos realizados
	&__secundario
		box-sizing border-box
		padding 0 0.5em

		.slider__item
			margin 0 0.5em

			figure
				margin 0 auto !important
				max-width 300px

				figcaption
					// background gris_nube
					// border-radius 5em
					color gris_suave
					font-family fuente_heading_bold
					// margin-top 1em
					padding 0.5em
					position relative

					// &:after
					// 	background gris_nube
					// 	content ""
					// 	height 100px
					// 	left 50%
					// 	margin-left -2px
					// 	margin-right 0 
					// 	width 4px
					// 	position absolute
					// 	top -100px

				a
					display block
					position relative
					text-decoration none
					transition_comun()

					&:before
						filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#8002A79E', endColorstr='#8002A79E',GradientType=1 )")
						background rgba(amarillo_flor, 0.5)
						border-radius 0 25% 0 25%
						content ""
						height 0
						left 50%
						opacity 0
						position absolute
						top 50%
						transition_comun()
						width 0
						z-index 3
					
					&:after
						bottom 0
						color blanco
						content "+"
						font-family Monospace
						font-size 60px
						height 60px
						line-height 100%
						left 50%
						margin -30px 0 0 -20px
						opacity 0
						position absolute
						text-decoration none
						transition 0.1s all 0.3s ease
						// top 0
						width 40px
						z-index 4
					
					&:hover
					&:focus
						&:before
							height 100%
							left 0
							opacity 1
							text-decoration none
							top 0
							width 100%
						&:after
							opacity 1
							// top 50%
							bottom 40%
							

				img
					border 1px solid gris_nube
					border-radius 0 25% 0 25%
					display block
					position relative
					width 100%
					z-index 2

// Slider central de la home
@media all and (min-width: 600px)
	.slider
		&__home
			&__leyenda
				bottom auto
				font-size 30px
				height auto
				left 5%
				padding 15px
				top 8%
				width auto
				
				/*&:after
					content ""
					display inline
					position absolute
					right -20px
					triangle(20px, 68px, right, gris_fuerte_transparente)
					top 0*/