// Variables generales

// Tamaños inicial de lo que sea.
$em = 20px

// Fuente general
fuente = Georgia, "Conv_Gentium_Regular", "Bookman Old Style", Garamond, serif
fuente_negrita = Georgia, "Conv_Gentium_Bold", "Bookman Old Style", Garamond, serif
fuente_cursiva = Georgia, "Conv_Gentium_Italic", "Bookman Old Style", Garamond, serif
fuente_cursiva_negrita = Georgia, "Conv_Gentium_Bold_Italic", "Bookman Old Style", Garamond, serif

// fuente = Georgia, "Bookman Old Style", Garamond, serif
// fuente_negrita = Georgia, "Bookman Old Style", Garamond, serif
// fuente_cursiva = Georgia, "Bookman Old Style", Garamond, serif
// fuente_cursiva_negrita = Georgia, "Bookman Old Style", Garamond, serif

// Fuente para titulares
// fuente_heading = "MankSans", Helvetica, Verdana, sans-serif
// fuente_heading_bold = "MankSansMedium", Helvetica, Verdana, sans-serif
// fuente_heading_italic = "MankSansOblique", Helvetica, Verdana, sans-serif
// fuente_heading_bold_italic = "MankSansMediumItalic", Helvetica, Verdana, sans-serif

fuente_heading = "Muli", Helvetica, Verdana, sans-serif
fuente_heading_bold = "Muli", Helvetica, Verdana, sans-serif
fuente_heading_italic = "Muli", Helvetica, Verdana, sans-serif
fuente_heading_bold_italic = "Muli", Helvetica, Verdana, sans-serif